@page "/about-razor.html"
@{
    Layout = "_Layout";
}

<h1>Giới thiệu về Razor</h1>
<p>Razor Page là một phần của ASP.NET, nó cho phép bạn bạn viết code C# trong một văn bản HTML (nói cách khác bạn có thể trộn giữa HTML và code C# trong một file). Các file này có phần mở rộng .cshtml. Ứng dụng dùng Razor Page giúp bạn tập trung vào code tạo trang, phát triển nhanh và dễ dàng hơn mô mình MVC.</p>