@using Microsoft.AspNetCore.Identity
@using App.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link text-navbar" asp-area="Identity" asp-controller="Manage" asp-action="Index" title="Manage">
                    <i class="fa-regular fa-user me-2"></i>@UserManager.GetUserName(User)
                </a>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn navbar-btn navbar-link text-navbar"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a title="Đăng nhập" class="nav-link text-navbar" asp-area="Identity" asp-controller="Account" asp-action="Login"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
        </li>
    </ul>
}