@using static AppMVCWeb.Views.Shared.Components.CategorySidebar.CategorySidebar
@model AppMVCWeb.Views.Shared.Components.CategorySidebar.CategorySidebar.CategorySidebarData

@if (Model.Categories.Count > 0)
{
    @if (Model.Level == 0)
    {
        @Html.Raw("<div class=\"category-sidebar\">")
        <div class="fs-4 fw-bolder line">
            <a asp-controller="ViewPost" asp-action="Index" asp-route-categorySlug="" class="text-dark category-sidebar-custom">
                Tất cả chuyên mục
            </a>
        </div>
    }

    <ul>
        @foreach (var category in Model.Categories)
        {
            var cssActive = (category.Slug == Model.CategorySlug) ? "active" : null;

            <li>
                <a class="@cssActive text-dark" asp-controller="ViewPost" asp-action="Index" asp-route-categorySlug="@category.Slug">
                    @category.Title
                </a>
                
                @if (category.CategoryChildren?.Count > 0)
                {
                    @await Component.InvokeAsync("CategorySidebar", 
                        new CategorySidebarData()
                        {
                            Categories = category.CategoryChildren.ToList(),
                            Level = Model.Level + 1,
                            CategorySlug = Model.CategorySlug
                        }
                    )
                }
            </li>
        }
    </ul>

    @if (Model.Level == 0)
    {
        @Html.Raw("</div>")
    }
}