@{
    Layout = "_Layout";
    ViewData["Title"] = "Thanh toán thành công";
}

<h2>Thanh toán thành công</h2>
<p>Cảm ơn bạn đã thanh toán đơn hàng!</p>
<a asp-controller="ViewProduct" asp-action="Cart" class="btn btn-primary">Quay lại trang giỏ hàng</a>
